.base-3AoPqv{border-radius:5px;}
.channel-members .avatar-small .status{border-radius:5px;}
.channel-members .member.popout-open .avatar-small .status,
.channel-members .member:hover .avatar-small .status{border-radius:50%;}
.chat .avatar-large{border-radius:5px;}
.inner-3if5cm{border-radius:5px;}
.avatarHint-2i5XWK,.image-EVRGPw{border-radius:5px;-webkit-mask:initial;mask:initial;}
.avatarStatus-1g8f0K{border-radius:5px 0;}
