body,
span:not(.channel-name):not(.spinner-item){
	backface-visibility:hidden;
}
.status-online{
	color:#43b581;
}
.status-idle{
	color:#faa61a;
}
.status-dnd{
	color:#f04747;
}
.status-invisible,.status-offline{
	color:#747f8d;
}
.status-streaming{
	color:#593695;
}
/*Big Dad*/
.platform-win .layer{
	padding-top:0;
	top:0;
}
.titleBar-3_fDwJ{
	top:0;
	left:70px;
	right:0;
	margin:0;
	height:22px;
	align-items:center;
	position:absolute;
}
.winButton-U7zAqI{
	top:0;
}
.base-3AoPqv{
	border-radius:0;
	padding-top:22px;
	
}
/*BetterDiscord Load Error Report*/
[id*="bdalert-"]{
	pointer-events:none;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:4001;
	display:flex;
	justify-content:center;
	align-items:center;
}
[id*="bdalert-"][style*="1"] ~ #app-mount *{
	user-select:none;
	pointer-events:none;
}
[id*="bdalert-"] .markdown-modal{
	display:flex;
	flex-direction:column;
}
[id*="bdalert-"] .markdown-modal-header{
	background-color:#ccc;
	height:20px;
	position:relative;
	display:flex;
	align-items:center;
	padding:0 3px;
}
[id*="bdalert-"] .markdown-modal-header>*{
	display:flex;
}
[id*="bdalert-"] .markdown-modal-header strong{
	flex:1;
}
[id*="bdalert-"] .markdown-modal-close{
	pointer-events:auto;
	border-radius:50%;
	width:14px;
	height:14px;
	background-color:#f04747;
	padding:0;
	border:2px solid #ccc;
	transition:150ms ease-out;
}
[id*="bdalert-"] .markdown-modal-close:hover{
	border-color:#fff;
}
[id*="bdalert-"] .markdown-modal-footer{
	background-color:#ccc;
	padding:2px 3px;
}
[id*="bdalert-"] .markdown-modal-footer a{
	pointer-events:auto;
	margin:0 2px;
	color:Teal;
	font-weight:600;
}
[id*="bdalert-"] .scroller-wrap{
	pointer-events:auto;
	user-select:text;
	background-color:#fff;
}
[id*="bdalert-"] .scroller-wrap .scroller{
	padding-right:14px;
	padding:2px 14px 2px 3px;
	line-height:18px;
	max-height:50vh;
}
[id*="bdalert-"] .scroller-wrap .scroller::-webkit-scrollbar{
	width:12px;
}
[id*="bdalert-"] .scroller-wrap .scroller::-webkit-scrollbar-thumb{
	border-radius:0;
	border:2px solid transparent;
	background-color:#ccc;
}
[id*="bdalert-"] .scroller-wrap .scroller::-webkit-scrollbar-track-piece{
	background:initial;
	border:initial;
}

/*Scrollers*/
#app-mount [class*="scroller"]::-webkit-scrollbar{
	width:12px;
}
#app-mount [class*="scroller"]::-webkit-scrollbar-thumb{
	border-radius:0;
	border:2px solid transparent;
	background-color:rgba(35,35,35,0.3);
}
#app-mount [class*="scroller"]::-webkit-scrollbar-track-piece{
	background:initial;
	border:initial;
}

/*Theme Dark Coloring*/
.appMount-14L89u,
.typeWindows-15E0Ys{
	background-color:var(--bar-color);
}

.theme-dark .guilds-wrapper{
	background-color:var(--guild-bar);
}

.theme-dark .channels-3g2vYe{
	background-color:var(--text-voice);
}
.theme-dark .container-RYiLUQ{
	background-color:var(--text-voice);
}
.theme-dark .channel-notices .channel-notice.quickswitcher-notice{
	background-color:rgba(0,0,0,.1);
}
.theme-dark .channel-notices .channel-notice .message .btn{
	background-color:var(--text-voice);
}
.theme-dark .container-3lnMWU,
.theme-dark .container-iksrDt{
	background:var(--account);
}

.theme-dark .chat>.content{
	background-color:var(--form);
}
.theme-dark .chat{
	background-color:var(--chat-friends);
}
.theme-dark .friends-table, .theme-dark .messages-wrapper{
	background-color:var(--chat-friends);
}
.theme-dark .header-1tSljs{
	background-color:var(--header-bar);
}
.theme-dark .title-qAcLxz{
	background:var(--header-bar);
}
.theme-dark .chat form{
	background-color:var(--form);
}
.theme-dark .chat form .typing{
	background-color:initial;
}
.theme-dark .channel-members{
	background-color:var(--members);
}

.theme-dark .ui-standard-sidebar-view .sidebar-region{
	background-color:var(--settings-left);
}
.theme-dark .ui-standard-sidebar-view .content-region{
	background-color:var(--settings-right);
}

.theme-dark .headerNormal-1cioxU{
	background:var(--popout-color-1);
}
.theme-dark .body-3rkFrF{
	background-color:var(--popout-color-2);
}
.theme-dark .footer-2J5zqP{
	background-color:var(--popout-color-2);
}

.theme-dark .member-roles .member-role{
	background-color:currentColor!important;
	border:initial!important;
}
.theme-dark .member-roles .member-role .name{
	color:#fff;
	text-shadow:0 1px 2px #000;
}
.theme-dark .member-roles .member-role [type="button"]{
	filter:drop-shadow(0 1px 0 #000);
}
.theme-dark .member-roles .member-role.member-role-add [type="button"]{
	filter:drop-shadow(1px 1px 0 #000);
}

#user-profile-modal .header:after{
	content:initial;
}
.theme-dark #user-profile-modal .header{
	background:var(--popout-color-1);
}
.theme-dark #user-profile-modal .avatar-wrapper{
	background:var(--popout-color-1);
}
.theme-dark #user-profile-modal .tab-bar-container{
	background-color:var(--popout-color-1);
}
.theme-dark #user-profile-modal .scroller{
	background:var(--popout-color-2);
}
.theme-dark #user-profile-modal .empty{
	background:var(--popout-color-2);
}
.theme-dark #user-profile-modal .guilds .section .section-header{
	color:#ccc;
}
.theme-dark #user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-name{
	color:#ccc;
}
.theme-dark #user-profile-modal .header .header-info .header-info-inner .discord-tag{
	color:#fff;
}
.theme-dark #user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator{
	color:#bbb;
}
.theme-dark #user-profile-modal .header .header-info .header-info-inner .activity{
	color:#ccc;
}
.theme-dark #user-profile-modal .tab-bar .tab-bar-item{
	color:#ccc;
}
.theme-dark #user-profile-modal .tab-bar .tab-bar-item.selected{
	color:#fff;
}
