.chat form{
	margin:0;
	padding:0 20px;
	border:0;
}
.channelTextArea-os01xC{
	margin:10px 0 30px 0;
}
.avatar-1BXaQj{
	border:0;
}
.avatarHint-2i5XWK,.image-EVRGPw{
	margin:0;
}
.avatarStatus-1g8f0K{
	border:0;
}
