/*Theme Dark*/
.theme-dark .container-RYiLUQ{
	background-color:var(--text-voice);
}
.theme-dark .channel-notices .channel-notice .message .btn{
	background-color:var(--text-voice);
}
.theme-dark .container-iksrDt:after{
	background-color:rgba(45,45,50,.6);
}
.theme-dark .contentSelectedText-3j5CXt{
	background-color:rgba(35,35,35,.5);
}
.theme-dark .contentHoveredText-2HYGIY,
.theme-dark .contentHoveredVoice-3qGNKh:active,
.theme-dark .contentSelectedVoice-gTtYM9:active{
	background-color:rgba(35,35,35,.2);
}
.theme-dark .container-iksrDt{
	background-color:var(--account);
}
.theme-dark .container-3lnMWU{
	background-color:var(--account);
}
.theme-dark .channel-notices .channel-notice.quickswitcher-notice{
	background-color:rgba(0,0,0,.1);
	box-shadow:none;
}
.theme-dark .header-1tSljs{
	background-color:var(--header-bar);
}
.theme-dark .header-1tSljs:hover{
	
}
.theme-dark .container-iksrDt .avatar-small:after{
	border-color:var(--account);
}
/*Header*/
.header-1tSljs{
	height:38px;
}
/*Notice*/
.channel-notices .channel-notice .message .btn{
	border-radius:0;
	border:1px solid rgba(0,0,0,.4);
}
/*Channels*/


.content-2mSKOj{
	border-radius:0;
}
/*Text Channels*/
/*Voice Channels*/

/*Voice Connected*/
.container-3lnMWU{
	border:0;
	padding:6px 10px;
}
/*Account*/
.container-iksrDt{
	padding:0 10px;
}
.container-iksrDt>div:first-child{
	will-change:transform;
	transition:150ms transform ease-out;
}
.container-iksrDt>div:first-child:hover{
	transform:scale(1.05);
}
.container-iksrDt>div:first-child:active{
	transform:scale(0.9);
}

@keyframes statusanim { 
	0%{background-position:0 0}
	25%{background-position:50px 0}
	50%{background-position:100px 0}
	75%{background-position:150px 0}
	100%{background-position:200px 0}
}

.container-iksrDt .popout-open .status{
	background:linear-gradient(to right, #43b581 0%,#43b581 25%, #faa61a 25%, #faa61a 50%, #f04747 50%, #f04747 75%,#747f8d 75%, #747f8d 100%);
	background-size:200px 200px;
	animation:statusanim 4s ease infinite forwards;
}
.container-iksrDt .avatar-small{
	width:48px;
	background-size:0;
	height:52px;
	margin:0 10px 0 0;
}
.container-iksrDt .avatar-small:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:36px;
	height:36px;
	background-image:inherit;
	background-size:36px 36px;
	background-repeat:no-repeat;
	background-position:center;
	margin:auto;
	border-radius:50%;
	border:2px solid;
}
.container-iksrDt .status{
	position:absolute;
	height:inherit;
	border-radius:0;
	top:0;
	bottom:0;
	left:0px;
	right:0;
	width:44px;
	height:44px;
	margin:auto;
	border-radius:50%;
}
