/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Uni						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
*{
	/*box-sizing:border-box;
	border-radius: 0 !important;*/
}

body,
span:not(.channel-name):not(.spinner-item){
	backface-visibility:hidden;
}
.titlebar{
	width:calc(100% - 72px);
	left:initial;
	right:0;
}
.theme-dark .message-group a{
	color:rgb(0,148,148);
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Guild Bar						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/
.theme-dark .guilds-wrapper .guilds>.guild:first-child .guild-inner[style]{
	background-color:#282b30;
}
.theme-dark .guilds-wrapper .guilds>.guild:hover:first-child .guild-inner[style]{
	background-color:rgb(114,137,218);
}
/*Guilds Wrap*/
.guilds-wrapper .scroller-wrap{
	top:48px;
	max-height:calc(100% - 48px);
}
.guilds-wrapper .guilds{
	padding:4px 0 14px 10px;
}
/*Direct Messages*/
.guilds-wrapper .guilds>.guild:first-child{
	position:absolute;
	top:-48px;
	left:0;
	margin:0 auto;
	width:70px;
	height:48px;
	border-bottom:1px solid rgba(0,0,0,.2);
	box-shadow:0 1px 0 rgba(0,0,0,.06);
}
.guilds-wrapper .guilds>.guild:first-child .guild-inner{
	border-radius:0!important;
	box-shadow:none;
}
.guilds-wrapper .guilds>.guild:first-child *:not(.badge){width:inherit;height:inherit;}
.guilds-wrapper .guilds>.guild:first-child .guild-inner a{
	box-shadow:none;
}
.guilds-wrapper .guilds>.guild:first-child .badge{
	bottom:3px;
	right:3px;
	border-radius:3px;
	padding:1px 3px;
}
/*Public Button*/
#bd-pub-li{
	width:50px;
	height:20px;
}
#bd-pub-li *{
	width:inherit;
	height:inherit;
}
#bd-pub-li .guild-inner{
	box-shadow:none;
}
#bd-pub-li .guild-inner a{
	box-shadow:none;
}
/*Guilds*/
.guilds-wrapper .guilds .guild{
	width:54px;
	height:54px;
}
.guilds-wrapper .guilds .guild .guild-inner a{
	box-shadow:inset 0 0 0 1.5px #000;
	border-radius:inherit;
}
.guilds-wrapper .guilds .guild .guild-inner{
	width:50px;
	height:50px;
}
.guilds-wrapper .guilds .guild .guild-inner{
	box-shadow:0 0 0 3px #43b581;
}
.guilds-wrapper .guilds .guild.selected.unread .guild-inner{
	box-shadow:0 0 0 3px #faa61a;
}
.guilds-wrapper .guilds .guild.unread .guild-inner{
	box-shadow:0 0 0 3px #f04747;
}
.guilds-wrapper .guilds .guild.selected .guild-inner{
	box-shadow:0 0 0 3px #ffffff;
}
.guilds-wrapper .scroller-wrap .guilds .guild:before{
	display:none;
}
/*Unread Message*/
.unread-mentions-indicator-top{
	top:54px;
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Text Voice Channels						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/
.theme-dark .container-iksrDt:after{
	background-color:rgb(45,45,50);
}
.theme-dark .contentSelectedText-3j5CXt{
	background-color:rgb(70,70,80);
}
.theme-dark .contentHoveredText-2HYGIY,
.theme-dark .contentHoveredVoice-3qGNKh:active,
.theme-dark .contentSelectedVoice-gTtYM9:active{
	background-color:rgb(70,70,80);
}
/*Header*/

/*Notice*/

/*Channels*/


.content-2mSKOj{
	border-radius:0;
}
/*Text Channels*/
/*Voice Channels*/

/*Voice Connected*/
/*Account*/
.container-iksrDt{
	
}
.container-iksrDt:after{
	content:"";
	position:absolute;
	left:310px;
	width:calc(100% - 550px);
	height:52px;
	z-index:1;
	pointer-events:none;
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Chat Main						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/
.theme-dark .chat .content form [class*=channelTextArea-]{
	background-color:rgb(45,45,50);
}
.theme-dark .chat .content form .typing{
	background-color:rgba(45,45,50, 0);
}
.theme-dark .message-group .embed{
	background-color:rgb(70,70,80);
}
/*Message Group*/
.message-group:last-of-type{
	padding-bottom:14px;
}
.embed,
.embed-color-pill{
	border-radius:0;
}
/*Divider*/
.chat .divider.divider-red>div{
	display:none;
}
/*Jump Bars*/
.theme-dark .chat .jump-to-present-bar > button{
	background-color:rgba(115,127,141,.9);
}
.theme-dark .chat .jump-to-present-bar > button:hover{
	background-color:rgb(115, 127, 141);
}

.theme-dark .chat .new-messages-bar > button{
	background-color:rgba(114,137,218,.9);
}
.theme-dark .chat .new-messages-bar > button:hover{
	background-color:rgb(114,137,218);
}

.chat .messages-wrapper .new-messages-bar{
	border-radius:0;
	left:6px;
	right:initial;
	top:6px;
	background-color:initial;
	pointer-events:none;
}

.chat .new-messages-bar > button{
	transition:background-color .2s;
	pointer-events:auto;
}
.chat .new-messages-bar > button:first-child{
	margin-right:10px;
}

.chat .messages-wrapper .jump-to-present-bar{
	border-radius:0;
	right:initial;
	background-color:initial;
	bottom:6px;
	left:6px;
	pointer-events:none;
}
.chat .messages-wrapper .jump-to-present-bar:hover{
	background-color:initial;
}
.chat .jump-to-present-bar > button{
	transition:background-color .2s;
	pointer-events:auto;
}
.chat .jump-to-present-bar > button:first-child{
	margin-right:10px;
}
/*Form*/
.chat .content form{
	margin:0;
	background-color:transparent;
	border-radius:0;
	border:0;
	z-index:1;
	position:static;
}
.chat .content form [class*=channelTextArea-]{
	padding:4px 4px;
	margin:0;
}
.chat .content form [class*=inner-]{
	border-radius:0;
}
.chat .content form .typing{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	justify-content:center;
	align-items:center;
	padding:0 4px;
	display:inline-flex;
	border-radius:5px;
	pointer-events:none;
	flex-direction:column;
	overflow:visible;
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Channel Members						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/
.theme-dark .channel-members{
	background-color:rgb(45,45,50);
}
.theme-dark .channel-members .member.popout-open,
.theme-dark .channel-members .member:hover{
	background:rgba(70,70,80,.3);
}
/*Channel Members*/
.channel-members-wrap{
	direction:rtl;
}
.channel-members-wrap > div{
	direction:ltr;
}

.channel-members .member.popout-open,
.channel-members .member{
	padding:3px 4px 3px 6px;
	margin:8px 4px 8px 24px;
}

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Friends Section						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/

/*Friends*/
#friends{
	z-index:1;
}

/*Search bar*/
.search-bar{
	
}
/*Private Channel List*/
.private-channels .channel{
	
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		User Popout							*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/
.theme-dark .header-3mZJcV{
	background:rgb(70,70,80);
}
.theme-dark .body-3rkFrF{
	background:rgb(60,60,70);
}
.theme-dark .footer-2J5zqP{
	background:rgb(70,70,80);
}
.theme-dark .quick-message{
	background-color:rgb(60,60,70);
	color:#ccc;
}
.theme-dark .member-roles .member-role{
	
}
.theme-dark .member-roles .member-role,
.theme-dark .member-roles .member-role[style]{
	background-color:currentColor!important;
}
.theme-dark .member-roles .member-role>.name{
	color:#fff;
	text-shadow:0 1px 2px #000;
}
.theme-dark .member-roles .member-role.member-role-add:before,
.theme-dark .member-roles .member-role.member-role-add:after{
	background-color:#ccc;
}

/*User Popout*/
.userPopout-4pfA0d{
	border-radius:0;
}
.body-3rkFrF{
	border:0;
}
.member-roles .member-role{
	border-radius:0;
	border:0;
}
.member-roles .member-role.member-role-add{
	position:relative;
}

.member-roles .member-role.member-role-add:before,
.member-roles .member-role.member-role-add:after{
	content:"";
	position:absolute;
	width:1px;
	height:12px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:1px;
	height:7px;
	margin:auto;
	box-shadow:.25px .25px 2px .25px rgba(35,35,35,.6);
}
.member-roles .member-role.member-role-add:after{
	width:7px;
	height:1px;
}
.member-roles .member-role.member-role-add button{
	background:transparent;
}

.footer-2J5zqP{
	padding:6px 4px;
}
.quick-message{
	border:0;
	border-radius:0;
}

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		User Settings						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/


/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Menu Popouts						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/
.theme-dark .popout-menu{
	background-color:rgb(70,70,80);
}
.theme-dark .popout-menu .popout-menu-item{
	color:rgb(190,190,190);
}
.theme-dark .popout-menu .popout-menu-item:hover{
	background-color:rgb(60,60,70);
	color:rgb(230,230,230);
}
.theme-dark .popout-menu .popout-menu-separator{
	border-color:rgba(190,190,190,.5);
}

.theme-dark .search-popout{
	background-color:rgb(70,70,80);
}
.theme-dark .search-popout .search-option{
	border-radius:0;
}
.theme-dark .search-popout .search-option .filter{
	color:rgb(190,190,190);
}
.theme-dark .search-popout .search-option .answer{
	color:rgb(230,230,230);
}
.theme-dark .search-popout .option.selected{
	background-color:rgba(45,45,50,.4);
}
.theme-dark .themed-popout{
	background-color:rgb(70,70,80);
}
.theme-dark .themed-popout .header{
	background-color:rgb(60,60,70);
}
.theme-dark .messages-popout-wrap .messages-popout .message-group{
	background-color:rgb(60,60,70);
}
.theme-dark .modal-3HOjGZ{
	background-color:rgb(70,70,80);
}
.theme-dark .footer-1PYmcw{
	background-color:rgb(60,60,70);
}
.theme-dark .instant-invite-modal{
	background-color:rgb(70,70,80);
}
.theme-dark #instant-invite-modal [class*=form-]{
	background-color:rgb(70,70,80);
	color:rgb(190,190,190);
}
.theme-dark #instant-invite-modal-advanced [class*=form-]{
	background-color:rgb(70,70,80);
	color:rgb(190,190,190);
}
.theme-dark .clipboard-input-inner{
	background-color:rgb(60,60,70);
}
.theme-dark #instant-invite-modal .clipboard-input-inner input{
	background-color:rgb(60,60,70);
}
.theme-dark #instant-invite-modal .form-header header{
	color:rgb(190,190,190);
}
.theme-dark #instant-invite-modal .blurb{
	color:rgb(170,170,170);
}
.theme-dark #instant-invite-modal .expire-text{
	color:rgb(170,170,170);
}
.theme-dark #instant-invite-modal-advanced .form-actions .btn-default{
	color:rgb(190,190,190);
}

.theme-dark .search-results-wrap .search-result .hit{
	background-color:rgb(60,60,70);
}

/*Popouts*/
.popout{
	box-shadow:0 2px 4px rgba(0,0,0,.16);
}
.popout.popout-bottom:not(.no-arrow){
	transform:translateY(0%) translateX(-50%) translateZ(0px)!important;
	left:190px!important;
	top:60px!important;
	width:216px!important;
}
.popout.popout-bottom.no-shadow{
	right:3%!important;
	left:initial!important;
}
.popout-menu{
	border-radius:0;
}
.popout-menu .popout-menu-item{
	
}
.popout-menu .popout-menu-separator{
	margin:0 50px;
}
/*Messages/Mentions Popout*/
.popout.popout-bottom-right{
	
}
.popout .themed-popout{
	border-radius:0;
}
.popout .themed-popout .header{
	border-radius:0;
	padding:6px 14px;
}
.popout .messages-popout .message-group{
	border-radius:0;
	border:0;
}
.popout .message-group .sink-interactions{
	display:none;
}
/*Search Popout*/
.popout-top-left{
	transform:translateY(-100%) translateX(0%) translateZ(0px)!important;
	left:80px!important;
	width:216px!important;
}
.search-popout{
	border-radius:0;
}
.search-popout .option:after{
	display:none;
}

#app-mount .search-results-wrap .search-result .search-result-message{
	border-radius:0;
	border:0;
}

/*Privacy Settings*/
.modal-3HOjGZ{
	border-radius:0;
}
.footer-1PYmcw{
	border-radius:0;
	padding:8px 8px;
}
.button-2t3of8{
	border-radius:0;
}
/*Instant Invite*/
.instant-invite-modal{
	border-radius:0;
}
.clipboard-input-inner{
	border:0;
	border-radius:0;
}
.clipboard-input-inner button{
	border:0;
}
.clipboard-input-inner button:first-of-type:before{
	display:none;
}
#instant-invite-modal [class*=form-]{
	border-radius:0;
}

/*Notification Settings*/
.item-2zi_5J{
	border-radius:0;
	padding:4px 4px!important;
}
.box-XhjOl4{
	border-radius:50%;
}
.card-3DrRmC{
	border-radius:0;
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Miscelaneous						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
.sizeDefault-rZbSBU{
	border-radius:0;
}
.sizeDefault-rZbSBU:after{
	border-radius:0;
}
.input-2YozMi{
	border-radius:0;
}

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Better Discord Support						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/



/*Better Discord Alert*/
[id*=bdalert-]{
	position:absolute;
	z-index:1000;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba();
}
[id*=bdalert-] .modal-inner{
	position:absolute;
	top:40%;
	left:0;
	right:0;
	margin:auto;
	width:50vw;
	height:auto;
}
[id*=bdalert-] .markdown-modal{
	display:flex;
	flex-direction:column;
	user-select:initial;
}

[id*=bdalert-] .markdown-modal-header{
	display:flex;
	background-color:rgb(210,210,210);
	padding:2px 0 2px 4px;
	position:relative;
}
[id*=bdalert-] .markdown-modal-header > strong{
	display:flex;
}
[id*=bdalert-] .markdown-modal-header > button{
	background-color:rgb(160,160,160);
	width:16px;
	height:16px;
	position:absolute;
	right:2px;
	top:2px;
	padding:0;
	box-sizing:border-box;
}
[id*=bdalert-] .markdown-modal-header > button:hover{
	background-color:rgb(120,120,120);
}
[id*=bdalert-] .markdown-modal-header > button:before,
[id*=bdalert-] .markdown-modal-header > button:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:2px;
	height:12px;
	background-color:rgba(237, 20, 61, 0.72);
}
[id*=bdalert-] .markdown-modal-header > button:before{
	transform:rotate(45deg);
}
[id*=bdalert-] .markdown-modal-header > button:after{
	transform:rotate(-45deg);
}
[id*=bdalert-] .scroller-wrap > div{
	background-color:rgb(160,160,160);
	padding:4px;
	box-sizing:border-box;
}
[id*=bdalert-] .markdown-modal-footer{
	background-color:rgb(210,210,210);
	user-select:none;
	padding:2px 14px 2px 0;
}
[id*=bdalert-] .markdown-modal-footer a{
	padding:0 4px;
}
[id*=bdalert-] .markdown-modal-footer a:hover{
	color:rgb(0,128,128);
}
[id*=bdalert-][style="opacity:1"] ~ #app-mount{
	filter:blur(5px);
}
[id*=bdalert-][style="opacity:1"] ~ #app-mount *{
	user-select:none!important;
}

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*		Plugin Support						*/
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
/*Theme Dark*/

/* counterCap.plugin.js */


/* GuildSeparators.plugin.js */
div.guild[separator]:after{
	background-color:rgba(45,45,50)!important;
}
