@keyframes newmessage{0%{left:4px;}25%{left:4px;}50%{left:215px;}55%{left:215px;}70%{left:215px;background:#1ec7e6;}100%{left:4px;}}
.channels-wrap .container-iksrDt{width:initial!important;margin-left:initial!important;}
.guilds-wrapper{position:absolute;background:#002b36!important;padding-top:0!important;margin-bottom:0;flex-direction:row;width:100%;max-width:240px;height:100px;max-height:16px;bottom:0;z-index:110;overflow:hidden;-webkit-box-orient:horizontal;}
.guilds-wrapper:hover{max-width:100%;max-height:100px!important;}
.guilds-wrapper .guilds{padding:26px 0 10px 10px;}
.guilds-wrapper .scroller-wrap{padding-top:0;}
.guilds-wrapper .scroller-wrap{width:100%;}
.guilds-wrapper .scroller-wrap .guilds .guild:nth-child(1){position:relative;top:0;z-index:initial;}
.guilds-wrapper .scroller-wrap .guilds{display:flex;overflow-y:hidden;overflow-x:scroll;}
.guilds-wrapper .scroller-wrap .guilds .guild{margin:0 10px!important;}

.guilds-wrapper .scroller-wrap .guilds .guild-placeholder{border:2px dashed #535559!important;border-color:#2f2f2f!important;min-width:50px!important;background-color:#535559;}

.guilds-wrapper .scroller-wrap .guilds .dms{display:flex;margin:0 10px;flex-direction:row;}
.guilds-wrapper .scroller::-webkit-scrollbar{height:10px;}

.guilds-wrapper .new-messages-indicator{width:14px;height:14px;border-radius:16px;font-size:0;animation:newmessage 5s infinite;bottom:1px;transition:all 250ms linear;}
.guilds-wrapper .new-messages-indicator > span{display:none;}
.guilds-wrapper:hover .new-messages-indicator{animation:none;width:100%;top:0;left:0;border-radius:0;height:10px;}
